/* ---- Bootstrap Overrides ---- */
.container {
	max-width: 768px;
}


/* ---------- My CSS ---------- */
body {
	margin-top: 50px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}

.reminders-list {
	margin-bottom: 0;
}

.list-wrapper {
	margin-top: 10px;
	max-height: calc(90vh - 100px);
	overflow-y: scroll;
}

.reminder-control a.active {
	text-decoration: none;
	font-weight: bold;
}

.reminder-control .navbar-btn {
	margin-right: 15px;
}

.reminder-form {
	margin-top: 10px;
}

.login-form {
	margin-top: 40px;
}

