@import 'variables'
/* Buttons */
.btn
  padding: 10px 16px
  border-radius: 6px
  text-decoration: none
  color: gray
  transition: .3s
  i
    margin-right: 6px
  &.btn-dark
    background-color: $darkColor
    color: white
    &:hover
      background-color: lighten($darkColor, 10)

.btn-pill
  border-radius: 50px
  &:hover
   color: black
  &.active
    cursor: default
    background: $primaryColor
    color: white

