@import 'variables'
/* Buttons */
.btn
  display: inline-block
  border: 0
  padding: 10px 16px
  border-radius: 4px
  text-decoration: none
  color: gray
  transition: .3s
  i
    margin-right: 6px
  &.btn-dark
    background-color: $darkColor
    color: white
    &:hover
      background-color: lighten($darkColor, 10)
  &.btn-primary
    background-color: $primaryColor
    color: white
  &.btn-default
    background-color: lightgray
  &.btn-block
    display: block
    text-align: center
    width: 100%


.btn-pill
  border-radius: 50px
  &:hover
   color: black
  &.active
    cursor: default
    background: $primaryColor
    color: white

/* Forms */
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
textarea,
select
  height: 34px
  width: 100%
  padding: 6px
  outline: 0
  border: 0
  margin: 8px 0 16px
  background-color: white !important
  &:focus
    border: 1px solid $primaryColor

textarea
  min-height: 100px

input[type=submit]:disabled
  background-color: lighten($primaryColor, 20)

.login-form,
.register-form
  width: 300px
  margin: 20px auto 0
  p
    text-align: center
.container
  position: relative
.user-dropdown
  height: $headerHeight
.nav-drop
  transition: .2s linear
  &.active
    height: 80px
  position: absolute
  top: $headerHeight
  right: 0
  display: block
  z-index: 1000
  overflow: hidden
  background: $darkColor
  height: 0px
  ul
    padding: 0
    margin: 0
    min-width: 120px
  li
    height: 40px
    border-top: 1px solid gray
    a
      i
        margin-right: 6px
      font-size: 1em
      text-align: right
      transition: .1s
      width: 100%
      padding: 10 0
      height: 100%
      line-height: 40px
      &:hover
        background: lightgray
        color: $darkColor

.status-sent
  content: "\f001"

.text-muted
  color: darkgray
.text-center
  text-align: center
.fa-pink
  color: pink
.fa-blue
  color: lightblue
.fa-green
  color: lightgreen

/* Angular Form Validation */
input.ng-dirty
  &.ng-valid
    border: 1px solid green
  &.ng-invalid
    border: 1px solid red
