.container
  max-width: 700px
  margin: 0 auto

.header-static
  positon: fixed
  top: 0
  width: 100%
  height: $header-height
  .container:
    max-width: 710px
  .header-inner
    height: $header-height/2

.reminders-shell
  margin-top: $header-height
  
.reminder
  height: $reminder-height
  width: 100%
  border-bottom: 1px solid lightgray