@import 'variables'

.container
  max-width: 700px
  margin: 0 auto

.header-static
  position: fixed
  width: 100%
  height: $headerHeight
  .container
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    max-width: 710px

  .brand
    color: white
    font-size: 24px

  &.header-main
    top: 0
    background: $darkColor
  &.header-filters
    background: $bgColor
    .container
      border-bottom: 1px solid darken($bgColor, 10)

.main-shell
  padding-top: $headerHeight

.reminders-shell
  margin-top: $headerHeight
  background: white

.reminder
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center

  padding: 10px
  height: $reminderHeight
  width: 100%
  font-size: 13px
  border-bottom: 1px solid lightgray
  &:last-of-type
    border-bottom: 0

  .info
    width: 100%
    .title
      white-space: nowrap
      font-weight: bold
      color: black
    .time-left
      .fa
        margin-right: 4px
      float: right
      max-width: 60px
      min-width: 60px
  .description
    white-space: nowrap
    width: 100%

.text-muted
  color: darkgray

