<div class="container">
	<form name="reminderForm" ng-submit="saveReminder(reminder, isEditing, reminderForm.$valid)" class="reminder-form validate-form" novalidate>
			<label for="title">Title</label>
			<input type="text" id="title" ng-model="reminder.title" class="form-control" ng-required="true">

			<label for="title">Priority</label>
			<select id="priority" ng-options="p.val as p.text for p in priorityOptions" ng-model="reminder.priority" class="form-control" ng-required="true">
				<option value="">-- Select a Priority --</option>
			</select>

			<label>Date</label>
			<input type="text" pick-a-date="reminder.remind_date" pick-a-date-options="pickerOptions"/>
			<label>Time</label>
			<input type="text" pick-a-time="reminder.remind_date" pick-a-time-options="pickerOptions"/>
			<label for="notes">Notes</label>
			<textarea id="notes" ng-model="reminder.notes" class="form-control"></textarea>

			<input type="submit" class="btn btn-primary btn-block" value="[[ btnValue ]]" ng-disabled="reminderForm.$invalid">
			<a ui-sref="reminders">Cancel</a>
	</form>
</div>
