<section class="home-cta">
<div class="bg-overlay">
<div class="container text-center">
	<div class="row">
		<div class="full">
			<h2>Easily create and manage email reminders with Rmnd.in, the world's simplest reminder app.</h2>
			<a href="/register"class="btn btn-primary">Get Started - It's Free</a>
		</div>
	</div>
</div>
</div>
</section>
<section class="home-features">
	<div class="container">
		<div class="row">
			<div class="half feature">
				<div class="feature-icon">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="feature-desc">
					<h3>Email or Text</h3>
					<p>Prefer to recieve reminders via a text over email? Set your preference globabally, or per-reminder.</p>
				</div>
			</div>
			<div class="half feature">
				<div class="feature-icon">
					<i class="fa fa-exclamation"></i>
				</div>
				<div class="feature-desc">
					<h3>Set Priority</h3>
					<p>Set the priority of your reminders to High, Medium, or Low so that you can prioritize what gets done.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="half feature">
				<div class="feature-icon">
					<i class="fa fa-edit"></i>
				</div>
				<div class="feature-desc">
					<h3>Edit and Delete</h3>
					<p>Easily manage your existing reminders. Change anything about them, whether it is the Priority or the time - You have full control.</p>
				</div>
			</div>
			<div class="half feature">
				<div class="feature-icon">
					<i class="fa fa-pause"></i>
				</div>
				<div class="feature-desc">
					<h3>Put on Hold</h3>
					<p>Not sure that you need to be reminded, but unsure if you want to delete the reminder? Put it on hold.</p>
				</div>
			</div>
		</div>
	</div>
</section>
