<div class="container">
	<form name="loginForm" class="login-form" novalidate>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" id="username" ng-model="vm.user.username" required>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" ng-model="vm.user.password" required>
		</div>
		<div class="form-group">
        <input value="Log In" class="btn btn-primary btn-block" type="submit" ng-click="vm.login()" ng-disabled="loginForm.$invalid">
        </div>
        <div class="row margin-twenty-top">
            <div class="half">
            <a class="btn btn-block" href="/password/forgot">Forgot Pass?</a>
            </div>
            <div class="half">
				<a class="btn btn-block btn-dark" href="/register">Sign Up Here</a>
            </div>
        </div>
	</form>
</div>
