<div class="col-sm-6 col-sm-offset-3">
	<div class="row">
		<div class="reminder-control">
			<span class="navbar-text">
				<a href="" ng-class="{active: sortType=='title'}" ng-click="setSortType('title')">Title</a> | 
				<a href="" ng-class="{active: sortType=='remind_date'}" ng-click="setSortType('remind_date')">Remind Date</a> | 
				<a href="" ng-class="{active: sortType=='created_at'}" ng-click="setSortType('created_at')">Create Date</a>
			</span>
			<div class="pull-right">
				<p class="navbar-btn">
				<button ng-click="startCreating()" ng-hide="isCreating" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></button>
				<button ng-click="cancelAction()" ng-hide="!isCreating && !isEditing" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
				</p>
			</div>
		</div>
	</div>
	<form name="reminderForm" ng-show="isCreating" ng-submit="createReminder(currentReminder, reminderForm.$valid)" novalidate>
		<div class="row">
		<div class="form-group col-md-6">
			<label for="title">Title</label>
			<input type="text" id="title" ng-model="currentReminder.title" class="form-control" ng-required="true">
		</div>
		<div class="col-md-6" ng-controller="datepicker">
				<label>Date:</label>
			<p class="input-group">
				<input type="text" class="form-control" datepicker-popup="[[ format ]]" ng-model="currentReminder.remind_date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		</div>
		<div class="form-group">
			<label for="notes">Notes</label>
			<textarea id="notes" ng-model="currentReminder.notes" class="form-control"></textarea>
		</div>
		<input type="submit" class="btn btn-primary btn-block" value="Create" ng-disabled="reminderForm.$invalid">
	</form>
	<div class="list-wrapper">
		<ul class="list-group reminders-list">
			<li class="list-group-item" ng-repeat="reminder in reminders | orderBy : sortType : sortReverse">
				<a ng-href="/reminders/[[ reminder.id ]]">[[ reminder.title ]]</a>
				<div class="pull-right">
					<a href ng-click="edit(reminder)"><i class="glyphicon glyphicon-pencil"></i></a>
					<a href ng-click="delete(reminder)"><i class="glyphicon glyphicon-trash"></i></a>
				</div>
			</li>
		</ul>
	</div>
</div>
