<div class="header-static header-filters">
	<div class="container">
		<div class="nav">
			<a ng-class="{ active: isActiveFilter('all')}" class="btn btn-pill" href="#" ng-click="setFilter('all')">ALL</a>
			<a ng-class="{ active: isActiveFilter('upcoming')}" class="btn btn-pill" href="#" ng-click="setFilter('upcoming')">UPCOMING</a>
			<a ng-class="{ active: isActiveFilter('sent')}" class="btn btn-pill" href="#" ng-click="setFilter('sent')">SENT</a>
		</div>
		<a ui-sref="addReminder" class="btn btn-dark" href="#"><i class="fa fa-plus"></i>ADD REMINDER</a>
	</div>
</div>

<!-- Reminders components start here -->
<div class="container">
	<div class="reminders-shell">
		<!-- TODO: Add back in search functionality -->
    <div class="no-reminders" ng-hide="reminders.length">
      <h2>Woops, no reminders here!</h2>
      <p>Why don't you <a href="/reminders/add">Create One!</a></p>
    </div>
		<div class="reminder"
			ng-repeat="reminder in reminders | filter : filter : strict"
			ng-class="{ menuActive: reminder == getMenuActive()}"
			ng-click="setMenuActive(reminder)" ng-animate>
			<div class="status">
				<i ng-class="getStatusClass(reminder)"></i>
			</div>
			<div class="info">
				<div class="info-top">
					<span class="title">[[ reminder.title ]]</span>
					<span class="time-left text-muted"><i class="fa fa-clock-o"></i>[[ reminder.remind_date | humanize ]]</span>
				</div>
				<div class="info-bottom">
					<span class="description">[[ reminder.notes ]]</span>
					<div class="priority priority[[getPriority(reminder)]]">
						[[ getPriority(reminder)]]
					</div>
				</div>
			</div>
			<div class="menu">
				<!-- TODO: Add pause functionality -->
				<i class="fa fa-pause"></i>
				<a ng-href="/reminders/[[ reminder.id ]]/edit"><i class="fa fa-edit"></i></a>
				<a href ng-click="delete(reminder)"><i class="fa fa-trash-o"></i></a>
			</div>
		</div>
	</div>
</div>
