{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="app">
    <head>
        <base href="/">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>rmnd.in - email reminders</title>
        <!-- Stylesheets -->
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
		<link href="{% static 'components/toastr/toastr.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body ng-controller="main" ng-cloak>
    <header class="header-static header-main">
		<div class="container">
			<a href="/" class="brand">rmnd.in</a>
			<nav ng-show="auth.isAuthenticated">
				<a href ng-click="logout()">Logout</a>
			</nav>
			<nav ng-hide="auth.isAuthenticated" class="flex-nav">
				<a href="/register">Sign Up</a>
				<a href="/login">Log In</a>
			</nav>
		</div>
	</header>
	<div class="main-shell" ui-view></div>

		<!-- Angular Scripts -->
		<script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'components/angular/angular.min.js' %}"></script>
		<script src="{% static 'components/toastr/toastr.min.js' %}"></script>
		<script src="{% static 'components/angular-animate/angular-animate.min.js' %}"></script>
		<script src="{% static 'components/angular-resource/angular-resource.min.js' %}"></script>
		<script src="{% static 'components/angular-jwt/dist/angular-jwt.min.js' %}"></script>
		<script src="{% static 'components/a0-angular-storage/dist/angular-storage.min.js' %}"></script>
		<script src="{% static 'components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
		<script src="{% static 'components/lodash/lodash.min.js' %}"></script>

		<!-- Application Scripts -->
		<script src="{% static 'js/app.js' %}"></script>

		<!-- Service Scripts -->
		<script src="{% static 'js/services/auth.js' %}"></script>

		<!-- Controller Scripts -->
		<script src="{% static 'js/controllers/compose.js' %}"></script>
		<script src="{% static 'js/controllers/datepicker.js' %}"></script>
		<script src="{% static 'js/controllers/login.js' %}"></script>
		<script src="{% static 'js/controllers/main.js' %}"></script>
		<script src="{% static 'js/controllers/registration.js' %}"></script>
		<script src="{% static 'js/controllers/reminders.js' %}"></script>

		<!-- Filter Scripts -->
		<script src="{% static 'js/filters/humanize.js' %}"></script>
    </body>
</html>
