{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
    <head>
        <base href="/">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>rmnd.in - email reminders</title>
        <!-- Stylesheets -->
		<!-- bower:css -->
		<link rel="stylesheet" href="/static/components/toastr/toastr.css">
		<!-- endinject -->
		<!-- custom:css -->
		<link rel="stylesheet" href="/static/css/styles.css">
		<!-- endinject -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'components/jquery-ui/themes/ui-darkness/jquery-ui.min.css' %}">
		<link rel="stylesheet" href="{% static 'components/jquery-ui/themes/ui-darkness/theme.css' %}">
    </head>
    <body ng-controller="main" ng-cloak>
		<header class="header-static header-main">
			<div class="container">
				<a href="/" class="brand">rmnd.in</a>
				<nav class="user-dropdown" ng-show="auth.isAuthenticated">
					<a href ng-click="toggleMenu()">[[ auth.username ]]<i class="fa fa-chevron-down"></i></a>
					<div ng-class="{ 'active': menuActive }" class="nav-drop">
						<ul>
							<li>
								<a ng-click="toggleMenu()" href="/settings"><i class="fa fa-cog"></i> Settings</a>
							</li>
							<li>
								<a href ng-click="logout()"><i class="fa fa-sign-out"></i> Log Out</a>
							</li>
						</ul>
					</div>
				</nav>
				<nav ng-hide="auth.isAuthenticated" class="flex-nav">
					<a ui-sref="register" class="item" ui-sref-active="active">Sign Up</a>
					<a ui-sref="login" class="item" ui-sref-active="active">Log In</a>
				</nav>
			</div>
		</header>
		<div class="main-shell" ui-view></div>

			<!-- Angular Scripts -->
			<!-- bower:js -->
			<script src="/static/components/jquery/dist/jquery.js"></script>
			<script src="/static/components/angular/angular.js"></script>
			<script src="/static/components/angular-jwt/dist/angular-jwt.js"></script>
			<script src="/static/components/angular-resource/angular-resource.js"></script>
			<script src="/static/components/angular-ui-router/release/angular-ui-router.js"></script>
			<script src="/static/components/lodash/lodash.js"></script>
			<script src="/static/components/a0-angular-storage/dist/angular-storage.js"></script>
			<script src="/static/components/angular-animate/angular-animate.js"></script>
			<script src="/static/components/jquery-ui/jquery-ui.js"></script>
			<script src="/static/components/datejs/build/production/date.min.js"></script>
			<script src="/static/components/toastr/toastr.js"></script>
			<!-- endinject -->

			<!-- custom:js -->
			<script src="/static/js/app.js"></script>
			<script src="/static/js/controllers/compose.js"></script>
			<script src="/static/js/controllers/datepicker.js"></script>
			<script src="/static/js/controllers/login.js"></script>
			<script src="/static/js/controllers/main.js"></script>
			<script src="/static/js/controllers/password.js"></script>
			<script src="/static/js/controllers/registration.js"></script>
			<script src="/static/js/controllers/reminders.js"></script>
			<script src="/static/js/directives/datepicker.js"></script>
			<script src="/static/js/filters/humanize.js"></script>
			<script src="/static/js/services/auth.js"></script>
			<!-- endinject -->
		</body>
</html>
